<section class="flex flex-col items-center justify-center min-h-screen px-4 text-center bg-[#DEE9EF] relative">
  <div class="glass-box z-10 w-full max-w-md">
    @if (!gameStarted) {
      <div class="p-6">
        @if (!players.length) {
          <h2 class="text-2xl text-gray-600 mb-10">Impostor Lobby</h2>

          <form [formGroup]="lobbyForm" class="w-full" (ngSubmit)="submit()">
            <app-form-input
              label="Raum-Code:"
              placeholder="Gebe hier den Raum-Code ein (A1B2C3)"
              [control]="roomIdControl"
              [submitted]="submitted"
            ></app-form-input>

            <app-form-input
              label="Spielername:"
              placeholder="Gebe hier deinen Spielernamen ein"
              [control]="playerNameControl"
              [submitted]="submitted"
            ></app-form-input>

            <app-button>
              {{ roomIdControl.value ? "Raum beitreten" : "Raum erstellen" }}
            </app-button>
          </form>


        } @else {
          <h2 class="text-2xl text-gray-600 mb-2">Spieler in der Lobby</h2>
          <h2 class="text-xl text-gray-600 mb-10">
            Raum: <span class="cursor-pointer hover:underline" (click)="copyToClipboard(currentRoomId)">{{ currentRoomId }}</span>
          </h2>

          <ul class="text-gray-300 space-y-2">
            @for (player of players; track $index) {
              <li class="flex items-center justify-between w-full rounded-md border border-gray-400 px-3 py-2 text-gray-600 text-sm shadow-md">
                {{ player.playerName }} {{ player.isHost ? ' - Host' : '' }}

                @if (isHost() && !player.isHost) {
                  <span class="pi pi-user-minus hover:text-red-500 hover:cursor-pointer" (click)="kickPlayer(player.playerName)"></span>
                }
              </li>
            }
          </ul>

          <div class="flex mt-5">
            <app-button class="flex-1 mr-4" (onClick)="startGame()">
              Spiel starten
            </app-button>

            <app-button class="flex-1" (onClick)="leaveRoom()">
              Spiel verlassen
            </app-button>
          </div>
        }
      </div>
    } @else {
      <div class="p-6">
        @if (!gameOver) {
          <h2 class="text-2xl text-gray-600 mb-6">Das Spiel wurde gestartet</h2>
          <h3 class="text-lg text-gray-600 mb-2">Deine Rolle: {{ role }}</h3>
          <h3 class="text-lg text-gray-600 mb-6">Dein {{ role  === 'Crewmate' ? 'Wort' : 'Hinweis' }}: {{ displayWord }}</h3>

          <app-button (onClick)="endGame()">Spiel beenden</app-button>
        } @else {
          <h2 class="text-2xl text-gray-600 mb-6">Spiel beendet!</h2>
          <h3 class="text-lg text-gray-600 mb-6">Der Impostor war: {{ impostor?.playerName }}</h3>

          <app-button (onClick)="stopGame()">Zur Lobby</app-button>
        }
      </div>
    }
  </div>
</section>
